# =============================================================================
# Authors
#
# Created by jaychowcl @ Saez-Rodriguez Group & EMBL-EBI Functional Genomics Team on May 2026
# https://github.com/jaychowcl
# https://saezlab.org
# https://www.ebi.ac.uk/about/teams/functional-genomics/
# =============================================================================
*_pycache_*
*.log
*.log*
*.env*
.env*
.vscode*
*.vscode*
*.codex*
.codex*

*.dev*
.dev*
.pytest*

output/*
output/

*.egg-info
*.egg-info*

CLAUDE.md
*CLAUDE.md

.agents/
.agents/*

.codex/
.codex/*

.pytest_cache/
.pytest_cache/*

.out/
.out/*